<div class="modal-header success">
    <h4 class="modal-title" id="modal-title">
        Create Api Key Referer
        <a  class="modal-close pull-right" ng-click="close()">
            <i class="mdi mdi-close"></i>
        </a>
    </h4>
</div>
<div class="col-md-12 bg-light-grey padding">
    <p class="text-muted no-margin">Create Api Key Referer for <strong><span class="text-success">{{consumer.username || consumer.custom_id}}</span></strong></p>
</div>

<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group" ng-class="{'has-error' : errors.key}">
            <label class="col-sm-4 control-label">key <br><em><small class="help-block">optional</small></em></label>
            <div class="col-sm-7">
                <input ng-model="data.key" class="form-control">
                <div class="text-danger" ng-if="errors.key" data-ng-bind="errors.key"></div>
                <p class="help-block">You can optionally set your own unique <code>key</code> to authenticate the client. If missing, Kong will generate one.</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : errors.authorized_referer}">
            <label class="col-sm-4 control-label">authorized_referer <br><em><small class="help-block">required</small></em></label>
            <div class="col-sm-7">
                <chips ng-model="data.authorized_referer">
                    <chip-tmpl>
                        <div class="default-chip">
                            {{chip}}
                            <i class="mdi mdi-close" remove-chip></i>
                        </div>
                    </chip-tmpl>
                    <input chip-control/>
                </chips>
                <div class="text-danger" ng-if="errors.authorized_referer" data-ng-bind="errors.authorized_referer"></div>
                <p class="help-block">
                    <small>Press enter to apply every value you type</small>
                <p>
                <p class="help-block">You must set <code>referers</code> to authorized the client.</p>
            </div>
            </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-7">
                <button type="submit" class="btn btn-primary" ng-click="createApiKeyReferer()">
                    <i class="mdi mdi-check"></i>
                    Submit
                </button>
            </div>
        </div>

    </form>
</div>
