<div class="bg-light-grey padding margin-bottom">
    <h4 class="clearfix">
        <i class="mdi mdi-key-change"></i>
        Api Key Referers
        <button
                ng-click="createApiKeyReferer()"
                class="btn btn-primary btn-sm pull-right">
            <i class="mdi mdi-plus"></i>
            create api key referers
        </button>
    </h4>
    <p class="help-block" ng-if="!key_referers || !key_referers.data.length">
        You have not created any keys for this consumer yet
    </p>
</div>

<div class="table-responsive" ng-if="key_referers && key_referers.data.length">
    <table class="table table-hover table-striped table-condensed">
        <tr>
            <th></th>
            <th>#</th>
            <th>key</th>
            <th>referers</th>
            <th>created</th>
            <th></th>
        </tr>
        <tr data-ng-repeat="key in key_referers.data | orderBy : created_at : true">
            <td width="1"><raw-view data-item="key"></raw-view></td>
            <td width="1">{{$index+1}}.</td>
            <th>{{key.key}}</th>
            <th>
                <span class="badge badge-tag" ng-repeat="referer in key.authorized_referer">
                    {{referer}}
                </span>
            </th>
            <td width="1" class="no-wrap">{{key.created_at * 1000 | date : format : timezone}}</td>
            <td width="1">
                <button type="button" ng-click="deleteKeyReferer($index,key)" class="btn btn-danger btn-link">
                    <i class="mdi mdi-delete"></i>
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>
